/* Dropdown Menu Styles */

.options {
    position: relative;
    width:100px;
}

.options-content {
    display:none;
    position: absolute;
    background-color: rgba(240, 248, 255, 0.875);
    min-width:100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    -webkit-box-shadow:0px 0px 27px 10px rgba(255,255,255,0.9);
    -moz-box-shadow: 0px 0px 27px 10px rgba(255,255,255,0.9);
    box-shadow: 0px 0px 27px 10px rgba(255,255,255,0.9);
}

.options:hover .options-content {
    display: block;
}

.options-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.options-content a:hover {
    background-color: #f1f1f1;
}

.options-icon {
    width: 30px;
    height: 30px;
    border-radius: 0px;
}

.language-icon {
    width: 30px;
    height: 30px;
}

/* End of Dropdown Menu Styles */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

h1 {
    text-align: center;
    color: rgba(240, 248, 255, 0.875);
    text-shadow: rgba(255,255,255,0.62) 0px 0px 10px;
    padding-bottom: 50px;
    font-size: 50px;
}

.intro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgba(240, 248, 255, 0.875);
    -webkit-box-shadow:0px 0px 27px 10px rgba(255,255,255,0.9);
    -moz-box-shadow: 0px 0px 27px 10px rgba(255,255,255,0.9);
    box-shadow: 0px 0px 27px 10px rgba(255,255,255,0.9);
    border-radius: 10px;
}

.intro p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: #333333;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.intro h3 {
    text-align: center;
    color: #333333;
    padding-top: 15px;;
}

.skills {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgba(240, 248, 255, 0.875);
    -webkit-box-shadow:0px 0px 27px 10px rgba(255,255,255,0.9);
    -moz-box-shadow: 0px 0px 27px 10px rgba(255,255,255,0.9);
    box-shadow: 0px 0px 27px 10px rgba(255,255,255,0.9);
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
}

.skills h3 {
    text-align: center;
    color: #333333;
    padding-top: 15px;
    padding-bottom: 20px;
}

.skill-icon {
    width: 50px;
    height: 50px;
    margin: 10px;
}

progress {
    width: 80%;
    height: 20px;
    margin-bottom: 20px;
}

#myBtn {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 10px;
    left: auto;
    max-width: 40px;
    height: 40px;
    width: 100%;
    color: white;
    padding: .5px;
    border-radius: 4px;
    display: none;
}

html {
    scroll-behavior: smooth;
}

.certificates {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgba(240, 248, 255, 0.875);
    -webkit-box-shadow:0px 0px 27px 10px rgba(255,255,255,0.9);
    -moz-box-shadow: 0px 0px 27px 10px rgba(255,255,255,0.9);
    box-shadow: 0px 0px 27px 10px rgba(255,255,255,0.9);
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.certificates h3 {
    text-align: center;
    color: #212121;
    padding-bottom: 20px;
}

.certificate-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.certificate-item img {
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin-bottom: 20px;
    align-items: center;
}

b {
    padding-bottom: 20px;
}

.project-item {
    display:flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
    text-shadow: #3f3e0a 2px 2px 5px;
    border-radius: 15px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(240, 248, 255, 0.875);
    -webkit-box-shadow:0px 0px 27px 10px rgba(255,255,255,0.9);
    -moz-box-shadow: 0px 0px 27px 10px rgba(255,255,255,0.9);
    box-shadow: 0px 0px 27px 10px rgba(255,255,255,0.9);
}

.project-item h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    color: #1c1c1c;
}

.certificate-item p {
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: #161616;
    padding-left: 10px;
    padding-right: 10px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(20, 19, 1, 0.7);
    backdrop-filter: blur(6px);
    z-index: 400;
    display: none;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    transition: transform .6s;
}
img:focus {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(4);
    z-index: 500;
}
iframe {
    border-radius: 15px;
}
@media screen and (max-width: 600px) {
    .project-item, form {
        font-size: 16px;
        padding: 10px;
        margin: 10px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    button {
        padding: 8px 16px;
        font-size: 14px;
    }
    input[type=text], select, textarea {
        width: 100%;
    }
}

.info-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgba(240, 248, 255, 0.875);
    -webkit-box-shadow:0px 0px 27px 10px rgba(255,255,255,0.9);
    -moz-box-shadow: 0px 0px 27px 10px rgba(255,255,255,0.9);
    box-shadow: 0px 0px 27px 10px rgba(255,255,255,0.9);
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
    padding: 20px;
}

.info-content b {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: large;
}

.info-content p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: #333333;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.info-content h2 {
    text-align: center;
    color: #333333;
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 30px;
}

.contact {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgba(240, 248, 255, 0.875);
    -webkit-box-shadow:0px 0px 27px 10px rgba(255,255,255,0.9);
    -moz-box-shadow: 0px 0px 27px 10px rgba(255,255,255,0.9);
    box-shadow: 0px 0px 27px 10px rgba(255,255,255,0.9);
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
    padding: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/** Variables **/

:root {
  --color-background: #e7e7e7;
  --color-background-alt: #888888;
  --color-border-active: #da7105;
  --color-border-default: #d1d1d1;
  --color-highlight: #fdcf4c;
  --color-primary: #b64e08;
  --color-primary-active: #79320e;
  --color-text-default: #262626;
  --color-text-muted: #4f4f4f;

  --font-family-body: "Figtree", system-ui, sans-serif;
  --font-family-display: "Poppins", system-ui, sans-serif;
}

/** Base **/

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-body);
  font-optical-sizing: auto;
  font-style: normal;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

[type="checkbox"],
[type="radio"],
[type="range"] {
  appearance: none;
  flex-shrink: 0;
  padding: 0;
  user-select: none;
}

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="range"]:focus {
  outline: none;
}

/** Components **/

.fs-form {
  display: grid;
  row-gap: 1.5rem;
}

.fs-form:where(.fs-layout__2-column) {
  column-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
}

fieldset {
  display: grid;
  margin: 1.5rem 0;
  row-gap: 1.5rem;
}

.fs-form:where(.fs-layout__2-column) fieldset {
  column-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / -1;
}

.fs-fieldset-title {
  color: var(--color-text-default);
  font-family: var(--font-family-display);
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
  grid-column: 1 / -1;
}

.fs-field {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.fs-label {
  color: var(--color-text-default);
  display: block;
  font-family: var(--font-family-display);
  font-size: 1rem;
  line-height: 1.25rem;
}

.fs-description {
  color: var(--color-text-muted);
  display: block;
  font-size: 1rem;
  line-height: 1.25rem;
}

.fs-button-group {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 1.5rem;
}

.fs-form:where(.fs-layout__2-column) .fs-button-group {
  grid-column: 1 / -1;
}

.fs-button {
  background-color: var(--color-primary);
  border-radius: 9999px;
  color: white;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 2rem;
  transition-duration: 200ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fs-button:hover {
  background-color: var(--color-primary-active);
}

.fs-button:focus-visible {
  background-color: var(--color-primary-active);
  outline: 4px solid var(--color-highlight);
}

.fs-input,
.fs-select {
  appearance: none;
  border-radius: 9999px;
  border-width: 0;
  box-shadow: var(--color-border-default) 0 0 0 1px inset;
  color: var(--color-text-default);
  font-size: 1rem;
  height: 3rem;
  line-height: 1.5rem;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

.fs-input:focus-visible,
.fs-select:focus-visible {
  box-shadow: var(--color-border-active) 0 0 0 1px inset;
}

.fs-input::placeholder {
  color: var(--color-text-muted);
}

.fs-checkbox-group,
.fs-radio-group {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.fs-checkbox-field,
.fs-radio-field {
  column-gap: 0.5rem;
  display: flex;
}

:is(.fs-checkbox-field, .fs-radio-field) .fs-label + .fs-description {
  margin-top: 0.25rem;
}

.fs-checkbox-wrapper,
.fs-radio-wrapper {
  align-items: center;
  display: flex;
  height: 1.25rem;
}

.fs-checkbox,
.fs-radio {
  background-color: #fff;
  border: 1px solid var(--color-border-default);
  height: 1.25rem;
  width: 1.25rem;
}

.fs-checkbox {
  border-radius: 0.25rem;
}

.fs-radio {
  border-radius: 100%;
}

.fs-checkbox:checked,
.fs-radio:checked {
  background-color: var(--color-primary);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-color: transparent;
}

.fs-checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.fs-radio:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

.fs-checkbox:focus-visible,
.fs-radio:focus-visible {
  border-color: var(--color-border-active);
  outline: 4px solid var(--color-highlight);
  outline-offset: 0;
}

.fs-checkbox:checked:focus-visible,
.fs-radio:checked:focus-visible {
  border-color: transparent;
}

.fs-select {
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 1.625em 1.625em;
  padding-right: 2.875rem;
}

.fs-slider {
  background: transparent;
  cursor: pointer;
  height: 1.25rem;
  width: 100%;
}

.fs-slider::-moz-range-track {
  background-color: var(--color-background);
  border-radius: 0.5rem;
  height: 0.5rem;
}

.fs-slider::-webkit-slider-runnable-track {
  background-color: var(--color-background);
  border-radius: 0.5rem;
  height: 0.5rem;
}

.fs-slider::-moz-range-thumb {
  background-color: var(--color-primary);
  border: none; /* Removes extra border that FF applies */
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
}

.fs-slider::-webkit-slider-thumb {
  appearance: none;
  background-color: var(--color-primary);
  border-radius: 50%;
  height: 1.25rem;
  margin-top: -0.375rem; /* Centers thumb on the track */
  width: 1.25rem;
}

.fs-slider:focus-visible::-moz-range-thumb {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.fs-slider:focus-visible::-webkit-slider-thumb {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.fs-switch {
  background-color: var(--color-background-alt);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2.75' fill='white'/%3e%3c/svg%3e");
  background-position: left center;
  background-repeat: no-repeat;
  border-radius: 1.25rem;
  cursor: pointer;
  height: 1.25rem;
  transition-duration: 200ms;
  transition-property: background-color, background-position;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 2.5rem;
}

.fs-switch:checked {
  background-color: var(--color-primary);
  background-position: right center;
}

.fs-switch:focus-visible {
  outline: 4px solid var(--color-highlight);
  outline-offset: 0;
}

.fs-textarea {
  appearance: none;
  border-radius: 0.75rem;
  border-width: 0;
  box-shadow: var(--color-border-default) 0 0 0 1px inset;
  color: var(--color-text-default);
  font-size: 1rem;
  line-height: 1.5rem;
  outline: none;
  padding: 0.5rem 0.75rem;
  resize: vertical;
}

.fs-textarea:focus-visible {
  box-shadow: var(--color-border-active) 0 0 0 1px inset;
}

.fs-textarea::placeholder {
  color: var(--color-text-muted);
}

/** Utilities **/

.col-span-full {
  grid-column: 1 / -1;
}

.fs-textarea::placeholder {
  color: var(--color-text-muted);
}

.slider-label-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.25rem;
}

.slider-label-text {
  font-size: 0.75rem;
  color: var(--color-text-muted);
  text-align: center;
  white-space: nowrap;
}

.find-me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    background-color: rgba(240, 248, 255, 0.875);
    -webkit-box-shadow:0px 0px 27px 10px rgba(255,255,255,0.9);
    -moz-box-shadow: 0px 0px 27px 10px rgba(255,255,255,0.9);
    box-shadow: 0px 0px 27px 10px rgba(255,255,255,0.9);
    border-radius: 10px;
    margin-top: 70px;
    text-align: center;
    padding: 20px;
}

.find-me img {
    width: 30px;
    height: 30px;
    border-radius: 0px;
}